@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300);

@font-face {
  font-family:pushfont;
  src:url(/font/pushfont.eot?h=c06fb#iefix) format(embedded-opentype),url(/font/pushfont.ttf?h=c06fb) format(truetype),url(/font/pushfont.woff?h=c06fb) format(woff),url(/font/pushfont.svg?h=c06fb) format(svg),url(/font/pushfont.otf?h=c06fb) format(opentype);
  font-weight:400;
  font-style:normal;
  font-feature-settings:calt=0,liga=0;
}

[class^="push-"],[class*=" push-"] {
  font-family:pushfont;
  font-weight:400;
  font-style:normal;
  display:inline-block;
  text-decoration:inherit;
  vertical-align:baseline;
  -webkit-font-smoothing:antialiased;
}

* {
  margin:0;
  padding:0;
}

body {
  padding:10px;
  color:#34495e;
  font-size:15px;
  line-height:22px;
  background-color:#fcfcfc;
  font-family:Lato,sans-serif;
}

a {
  text-decoration:none;
  -webkit-transition:.25s;
  transition:.25s;
  -webkit-backface-visibility:hidden;
  color:#27ae60;
}

a:hover {
  text-decoration:none;
  color:#2ecc71;
}

p {
  margin-bottom:10px;
}

hr {
  border:0;
  border-top:1px solid #d0d0d0;
  border-bottom:1px solid #ffffff;
  margin: 20px 0px;
}

textarea,input[type="text"] {
  color:#b2bcc5;
  border:2px solid #bdc3c7;
  color:#34495e;
  font-family:Lato,sans-serif;
  font-size:14px;
  height:21px;
  text-indent:0px;
  -webkit-appearance:none;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -webkit-transition:border .25s linear,color .25s linear;
  -moz-transition:border .25s linear,color .25s linear;
  -o-transition:border .25s linear,color .25s linear;
  transition:border .25s linear,color .25s linear;
  -webkit-backface-visibility:hidden;
  padding:7px 9px;
}

textarea:focus, input[type="text"]:focus {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border-color:#1abc9c;
}

input:focus,textarea:focus {
  border-color:#2ecc71!important;
  outline:none;
}

#logo {
  display:inline-block;
  background-image:url(/images/logo.png);
  background-size:155px 30px;
  width:155px;
  height:30px;
}
#logo-link:focus {
  outline:none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
  #logo {
    background-image:url(/images/logo@2x.png);
  }
}

#picker {
  position:absolute;
  display: none;
  left:6px;
  max-height:190px;
  width:330px;
  background-color:#fff;
  z-index:100;
  border-radius:6px;
  border:2px solid #bdc3c7;
  transition:.25s;
  overflow:auto;
}

#device_overlay {
  position:absolute;
  overflow:hidden;
  left:0px;
  top:0px;
  height:35px;
  width:388px;
  background-color:#fff;
  z-index:100;
  border-radius:6px;
  border:2px solid #bdc3c7;
  transition:.25s;
  text-overflow:ellipsis;
  overflow-x:hidden;
}

.picker-option {
  padding:6px 6px 5px 6px;
  line-height:24px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow-x:hidden;
  cursor:pointer;
}

.picker-option:hover,.picker-option.selected {
  background-color:#ecf0f1;
}

#push-frame {
  background-color:#ecf0f1;
  border-radius:6px;
  box-sizing:border-box;
  padding:15px;
}

.btn {
  border:none;
  background:#bdc3c7;
  color:#fff;
  line-height:22px;
  text-decoration:none;
  text-shadow:none;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:10px 20px;
  -webkit-transition:.25s;
  -moz-transition:.25s;
  -o-transition:.25s;
  transition:.25s;
  -webkit-backface-visibility:hidden;
}

.btn:hover,.btn:focus {
  background-color:#cacfd2;
  color:#fff;
  outline:none;
  -webkit-transition:.25s;
  -moz-transition:.25s;
  -o-transition:.25s;
  transition:.25s;
  -webkit-backface-visibility:hidden;
}

.btn:active,.btn.active {
  background-color:#a1a6a9;
  color:rgba(255,255,255,0.75);
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.btn.disabled,.btn[disabled] {
  background-color:#bdc3c7;
  color:rgba(255,255,255,0.75);
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  opacity:0.7;
  filter:alpha(opacity=70);
}

.btn.btn-primary,.palette-nephritis {
  background-color:#27ae60;
}

.btn.btn-primary:hover,.btn.btn-primary:focus {
  background-color:#2ecc71;
}

.btn.btn-primary:active,.btn.btn-primary.active {
  background-color:#f1c40f;
}

.btn:hover,.btn:focus {
  background-color:#cacfd2;
  color:#fff;
  outline:none;
  -webkit-transition:.25s;
  -moz-transition:.25s;
  -o-transition:.25s;
  transition:.25s;
  -webkit-backface-visibility:hidden;
}

.picker-target-icon {
  float:left;
  width:24px;
  height:24px;
  background-color:#34495e;
  text-align:center;
  line-height:24px;
  font-size:18px;
  color:#ecf0f1;
  border-radius:2px;
  box-sizing:border-box;
  margin-right:6px;
}

.push-phone:before {
  content:"\f011";
}

.push-computer:before {
  content:"\f006";
}

.push-browser:before {
  content:"\f001";
}

.push-contact:before {
  content:"\f008";
}

.push-icon {
  float:left;
  width:50px;
  height:50px;
  margin-right:8px;
  background-color:#34495e;
  text-align:center;
  line-height:50px;
  font-size:32px;
  color:#ecf0f1;
  border-radius:6px;
  box-sizing:border-box;
}

.push-icon.blank:not(:hover) {
  background:#ecf0f1;
  color:#bdc3c7;
}

.push-note {
  background-color:#e67e22;
}

.push-link {
  background-color:#3498db;
}

.push-file {
  background-color:#e74c3c;
}

.push-list {
  background-color:#9b59b6;
}

.push-address {
  background-color:#f1c40f;
}

.push-note:before {
  content:"\f002";
}

.push-link:before {
  content:"\f00c";
}

.push-file:before {
  content:"\f004";
}

.push-list:before {
  content:"\f00d";
}

.push-address:before {
  content:"\f00e";
}

.pointer {
  cursor:pointer;
}

.standard-text-input {
  width:370px;
  margin-bottom:10px;
}
