#include "/home/kcashman/.colors/erosionedit"

! urxvt
! Clickable URLs, tabbing, clipboard
urxvt.perl-ext-common: default,matcher,tabbed,clipboard
urxvt.urlLauncher:      /usr/bin/firefox
urxvt.matcher.button:   1 
urxvt.tabbed.tab-bg: 11
!urxvt.font: xft:Ubuntu Mono:size=11
urxvt.inputMethod: ibus
urxvt.preeditType: OverTheSpot
urxvt*cursorUnderline: 1
urxvt*letterspace: -5
urxvt*fading:          20
urxvt*fadeColor:      #000000
urxvt*cursorBlink:     true
urxvt*scrollBar:       false
urxvt*depth:           32 
urxvt*internalBorder:      5
urxvt.urgentOnBell:  true

urxvt*termName: rxvt

urxvt.keysym.Shift-Control-V: perl:clipboard:paste
urxvt.iso14755: False

urxvt*font:             -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-* 
urxvt*boldFont:         -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-* 
urxvt*italicFont:       -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-* 
urxvt*bolditalicFont:   -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-* 

